
//Proporciones
//1600 1
//1000 0.5
//700 0.5
//550 0.5
//380 0.5


@media (max-width: 2000px ){
  .btn__menu{
    display: none;
  }

    html body .d-block--tam{
    height: 35rem;
    }
    .imgProyectos{
      width: 20rem;
      height: 20rem;
    }

    .gridProyectos {
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }


}

  @media (max-width: 1135px) {

    .navHamb{
      display: none;
    }

    .modPpal__tit1 {
      font-size: 2.7rem; }
    .modPpal__tit2 {
      font-size: 1.7rem; }
    .modPpal__tit3 {
      font-size: 1.2rem; }
    .modPpal__tit4 {
      font-size: 1.17rem; }
    .modPpal__tit5 {
      font-size: 0.99rem; }
    .modPpal__tit6 {
      font-size: 0.9rem; }
    .modPpal__nav {
      padding: 0.5rem;
      font-size: 0.8rem; }
    .btn {
      font-size: 0.81rem; }
    .inline {
      font-size: 1.53rem; }
    .googMap {
      width: 540px;
      height: 540px; }
    html body .d-block--tam{
      height: 25rem;
      }
    .carousel-caption {
      font-size: 1.53rem; }
    .flexEquipo {
      padding-left: 2.34rem;
      padding-right: 2.34rem; }
    .equipo {
      width: 15.3rem;
      font-size: 0.9rem; }
    .modPpal__tit2 {
      margin-bottom: 0.09rem; }
    .gridProyectos{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      align-items: stretch;
      align-content: space-between;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .parrafosNS {
      font-size: 1rem; }
      .parrafosNS p {
        font-size: 1rem; }
    .parrCM {
      font-size: 1rem; }
    .parraf__Contacto {
      font-size: 1rem; }
    input {
      font-size: 1rem; }
    .botonEnviarContacto {
      font-size: 1rem; }
    .telefono {
      font-size: 0.9rem; }
    .email {
      font-size: 0.9rem; }
    .datosContacto{
      position:absolute;
      bottom:-40px;
      right:-20px;
      width: 250px;
      padding:16px 4px 16px 0;
      border-radius:6px;font-size:13px;
    }
}
  
  @media (max-width: 760px) {

    .modPpal__nav{
      display: none;
    }

    .btn__menu{
      display: initial;
    }

    .modPpal__nav--hamb{
      display: initial;
    }

    .btn{
      font-size: 0.85rem!important;
    }

 
    .modPpal__tit1 {
      font-size: 2.25rem; }
    .modPpal__tit2 {
      font-size: 1.25rem; }
    .modPpal__tit3 {
      font-size: 1.1rem; }
    .modPpal__tit4 {
      font-size: 0.975rem; }
    .modPpal__tit5 {
      font-size: 0.825rem; }
    .modPpal__tit6 {
      font-size: 0.75rem; }
    .header__pags{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      order: 1;
      justify-content: flex-end;
      align-items: left;
    }
    .modPpal__nav {
      font-size: 0.8rem; }
    .btn {
      font-size: 0.5625rem; }
    .inline {
      font-size: 1.275rem; }
    .googMap {
      width: 450px;
      height: 450px; }
    html body .d-block--tam{
      height: 20rem;
      }
    .carousel-caption {
      font-size: 1.275rem; }
    .flexEquipo {
      padding-left: 1.95rem;
      padding-right: 1.95rem; }
    .equipo {
      width: 12.75rem;
      font-size: 0.75rem; }
    .modPpal__tit2 {
      margin-bottom: 0.075rem; }
    .gridProyectos{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      align-items: stretch;
      align-content: space-between;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .parrafosNS {
      font-size: 1.05rem; }
      .parrafosNS p {
        font-size: 1.05rem; }
    .parrCM {
      font-size: 1.05rem;
      padding: 0px 6rem 0px 6rem; }
    .parraf__Contacto {
      font-size: 1.05rem; }
    input {
      font-size: 1.05rem; }
    .botonEnviarContacto {
      font-size: 1.05rem; 
      padding: 22.5px 17px 22.5px 17px;
      margin: 0px 0px 0px 0px;  }
    .telefono {
      font-size: 0.9rem; }
    .email {
      font-size: 0.8rem; }
    .datosContacto {
      width: 200px;
      position: relative;
      bottom: 0px;
      right: +10px;
       } 
    .flexEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    }
    .equipo{
    width: 16rem;
    }
    
}
  
  @media (max-width: 550px) {

    .btn{
      font-size: 0.8rem!important;
    }

    .modPpal__tit1 {
      font-size: 1.8rem; }
    .modPpal__tit2 {
      font-size: 1.2rem; }
    .modPpal__tit3 {
      font-size: 0.96rem; }
    .modPpal__tit4 {
      font-size: 0.78rem; }
    .modPpal__tit5 {
      font-size: 0.66rem; }
    .modPpal__tit6 {
      font-size: 0.6rem; }
    .modPpal__nav {
      font-size: 0.8rem; }
    .btn {
      font-size: 0.36rem; }
    .inline {
      font-size: 1.02rem; }
    .googMap {
      width: 360px;
      height: 360px; }
    html body .d-block--tam{
      height: 25rem;
      }
    .carousel-caption {
      font-size: 1.02rem; }
    .equipo {
      width: 11rem;
      font-size: 0.8rem; }
    .flexEquipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    }
    .modPpal__tit2 {
      margin-bottom: 0.4rem; }
    .gridProyectos{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      align-items: stretch;
      align-content: space-between;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .parrafosNS {
      font-size: 0.84rem; }
    .columnasNS{
      column-count: 1;
    }
    .parrafosNS p {
        font-size: 0.84rem; }
    .parrCM {
      margin-right: 0rem;
      margin-left: 0rem;
      font-size: 0.84rem;
      padding: 0px 3.4rem 0px 3.4rem; }
    .parraf__Contacto {
      font-size: 0.84rem; }
    input {
      font-size: 0.84rem; }
    .botonEnviarContacto {
      padding-right: 17px;
      padding-top: 23px;
      padding-bottom: 23px;
      padding-left: 17px;
      margin-top: 0px;
      font-size: 0.9rem; }
    .telefono {
      font-size: 0.84rem; }
    .email {
      font-size: 0.7rem; }
    .datosContacto {
      width: 170px;
      position: relative;
      bottom: 0px;
      right: 0px;
      } }
  
  @media (max-width: 380px) { 
    .modPpal__tit1 {
      font-size: 1.5rem; }
    .modPpal__tit2 {
      font-size: 1.2rem; }
    .modPpal__tit3 {
      font-size: 1rem; }
    .modPpal__tit4 {
      font-size: 0.8rem; }
    .modPpal__tit5 {
      font-size: 0.7rem; }
    .modPpal__tit6 {
      font-size: 0.7rem; }
    .modPpal__nav {
      font-size: 0.7rem; }
    .btn {
      font-size: 0.5rem; }
    .inline {
      font-size: 0.85rem; }
    .googMap { 
      width: 300px;
      height: 300px; }
    html body .d-block--tam{
    height: 20rem;
    }
    .carousel-caption {
      font-size: 0.85rem; }
    .equipo {
      width: 8rem;
      font-size: 0.75rem; }
    .flexEquipo{
    display: flex;
    flex-direction: column;
    flex:content;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;    }  
    .flexEquipo .equipo {
      width: 15rem; }
    .flexArtEquipo{
      padding-left: 1rem;
    }
    .modPpal__tit2 {
      margin-bottom: 0.05rem; }
    .gridProyectos{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      align-items: stretch;
      align-content: space-between;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .parrafosNS {
      font-size: 0.7rem; }
    .parrafosNS p {
        font-size: 0.7rem; }
    .columnasNS{
      column-count: 1;
    }
    .parrCM {
      margin-right: 0rem;
      margin-left: 0rem;
      font-size: 0.7rem;
      padding: 0px 3rem 0px 3rem }
    .form__Contacto{
      width:340px;
      height:430px;
      margin:calc(50vh - 320px) auto; }
    .parraf__Contacto {
      font-size: 0.7rem; }
    input {
      font-size: 0.7rem; }
    .botonEnviarContacto {
      padding-right: 17px;
      padding-top: 23px;
      padding-bottom: 23px;
      padding-left: 17px;
      margin-top: 0px;
      font-size: 0.7rem; }
    .telefono {
      font-size: 0.7rem; }
    .email {
      font-size: 0.7rem; }
    .datosContacto {
      width: 170px;
      position: relative;
      bottom: 0px;
      right: 0px;
     } }
  
  

