@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* { margin: 0; padding: 0; }

html body { background-color: rgba(255, 255, 255, 0.596); }
html body h1 { color: #666868; }
html body h2, html body h3, html body h4 { color: #3c4488; }
html body h5, html body a { color: #494e7a; }
html body p { color: #1d2d38; }
html body em { color: #1d4d69; }
html body .carousel-caption p, html body h5 { color: white; }

.bodyGral { background-color: rgba(156, 156, 156, 0.315); }

.modPpal__nav:hover { color: #296862; }

.modPpal__tit4 { background-color: rgba(105, 105, 105, 0.158); }

.btn-dark { background-color: #6d767e; border-color: #6c757d; }

.footer { font-weight: bold; }

.carousel { background-color: rgba(95, 95, 95, 0.137); }

.card { background-color: rgba(0, 0, 0, 0.019); }

.form__Contacto { background: #e6e6e6; box-shadow: 0 0 40px -10px black; }

.modPpal__tit4--Contacto { color: #78788c; border-bottom: 3px solid #78788c; background-color: #e6e6e6; }

input { border-bottom: 2px solid #bebed2; }

input:focus { border-bottom: 2px solid #78788c; }

.parraf__Contacto:before { color: #5a5a5a; }

.botonEnviarContacto { border: 2px solid #78788c; background: 0; color: #5a5a6e; }

.botonEnviarContacto:hover { background: #78788c; color: white; }

.datosContacto { background: #50505a; color: white; box-shadow: 10px 10px 40px -14px black; }

.profile { background-color: #fff; }

html body .modPpal__tit1 { display: inline-block; margin-left: 1rem; }
html body h1, html body h2, html body h3, html body h4, html body h6 { margin-left: 1rem; }
html body .d-block--tam { height: 50rem; }

.modPpal__nav { margin-right: 10px; padding-right: 18px; padding-left: 18px; }

.header { background-image: url(../img/background-home.png); }

.header__pags { display: flex; flex-direction: row; justify-content: right; padding-top: 15px; padding-bottom: 20px; }

.header__pags--index { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }

.googMap { align-items: center; justify-content: center; }

.sectionMap { display: flex; flex-direction: column; justify-content: center; align-items: center; }

.modPpal__tit4 { margin-left: 0px; margin-bottom: 0px; padding-bottom: 5px; padding-top: 5px; }

.modPpal__tit2 { padding-top: 5px; }

.button--mod { margin-top: 10px; }

.modPpal__tit6 { margin-top: 0.5rem; }

.gridProyectos { display: grid; grid-template-columns: repeat(3, 1fr); justify-content: center; align-items: stretch; align-content: space-between; margin-left: 2rem; margin-right: 2rem; }

.profile { width: 300px; height: 300px; cursor: pointer; position: relative; border-radius: 10px; margin: 3rem auto 3rem auto; }

.image { border-radius: 10px; }

.image { position: absolute; transition: all 0.5s; z-index: 100; }

.profile:hover .image { transform: translate(-50px, -50px); }

.profile .content { position: absolute; bottom: 100px; left: 30%; display: flex; flex-direction: column; align-items: center; line-height: 19px; transition: all 0.5s; transition-delay: 0.5s; }

.profile:hover .content { bottom: 8px; }

h3 { text-align: center; }

.modPpal__tit3--ofic { padding-top: 1rem; }

.gridEquipo { display: grid; grid-template-columns: repeat(4, 1fr); justify-content: center; align-items: center; align-content: space-between; background: radial-gradient(circle, rgba(119, 120, 121, 0.0116247182) 70%, #c3c5c8 88%); margin-bottom: 0.5rem; }
.gridEquipo p { font-weight: bold; text-align: justify; }
.gridEquipo .equipo { align-items: center; display: block; width: 20rem; margin: auto; margin-bottom: 1rem; border-radius: 50%; }

.equipo:hover { filter: brightness(85%) saturate(170%); }

.header__pags--equipo { margin-bottom: -49px; }

.card { padding-left: 1rem; padding-right: 1rem; align-items: center; margin: 0.5rem 1rem 0.5rem 1rem; }

.parrafosNS { margin: auto 1rem 1.5rem 1rem; padding: auto 1rem auto 1rem; }

.parrCM { padding-right: 10rem; padding-left: 10rem; align-items: center; justify-content: center; text-align: center; }

.modPpal__tit3--CM { margin-top: 10px; }

.form__Contacto { width: 340px; height: 480px; border-radius: 8px; margin: calc(50vh - 350px) auto; padding: 10px 30px; max-width: calc(100vw - 40px); box-sizing: border-box; position: relative; }

.modPpal__tit4--Contacto { margin: 10px 0; padding-bottom: 10px; width: 180px; }

input { width: 100%; padding: 10px; box-sizing: border-box; background: none; outline: none; resize: none; border: 0; transition: all .3s; }

.parraf__Contacto:before { content: attr(type); display: block; margin: 28px 0 0; }

.botonEnviarContacto { float: right; padding: 8px 12px; margin: 8px 0 0; cursor: pointer; transition: all .3s; border-radius: 8px; }

.datosContacto { position: absolute; bottom: -40px; right: -20px; width: 320px; padding: 16px 4px 16px 0; border-radius: 6px; font-size: 13px; }

span { margin: 0 5px 0 15px; }

html { font-size: 62,5%; }
html body { font-family: 'Roboto', sans-serif; font-style: normal; }
html body h1 { font-size: 4rem; font-weight: bolder; }
html body h2 { font-size: 1.4rem; font-weight: bold; }
html body h3 { font-size: 1.1rem; }
html body h5, html body a { line-height: 1.2; }
html body h6 { text-align: center; font-weight: bold; }
html body p { line-height: 1.6; }
html body ul { list-style: none; }
html body .carousel-caption p, html body h5 { text-align: center; }
html body .carousel-caption h5 { font-weight: bolder; font-size: 3rem; }

.modPpal__tit2 { margin-bottom: 0.4rem; }

.modPpal__tit2--proys { font-size: 1.5rem; font-weight: bold; text-align: center; }

.modPpal__tit3 { font-size: 1.2rem; font-weight: bold; text-align: center; }

.modPpal__tit4 { text-align: center; font-size: 1.3rem; font-weight: bold; }

.modPpal__nav { text-decoration: none; font-weight: bold; }

.modPpal__nav--mod { margin-top: 5px; }

.modPpal__nav:hover { text-decoration-line: underline; font-weight: bold; }

.modPpal__tit3--CM { font-size: 1rem; }

.card-text { text-align: justify; }

.card:hover { font-style: italic; }

.ParrafosNS { text-align: justify; }

.parraf__Contacto:before { font-size: 14px; }

.profile .content span:nth-child(1) { font-size: 17px; }

.profile .content span:nth-child(2) { font-size: 13px; }

@media (max-width: 2000px) { .btn__menu { display: none; }
  html body .d-block--tam { height: 35rem; }
  .imgProyectos { width: 20rem; height: 20rem; }
  .gridProyectos { display: grid; grid-template-columns: repeat(3, 1fr); } }
@media (max-width: 1400px) { .gridEquipo .equipo { width: 15rem; } }
@media (max-width: 1135px) { .navHamb { display: none; }
  .modPpal__tit1 { font-size: 2.7rem; }
  .modPpal__tit2 { font-size: 1.7rem; }
  .modPpal__tit3 { font-size: 1.2rem; }
  .modPpal__tit4 { font-size: 1.17rem; }
  .modPpal__tit5 { font-size: 0.99rem; }
  .modPpal__tit6 { font-size: 0.9rem; }
  .modPpal__nav { padding: 0.5rem; font-size: 0.8rem; }
  .btn { font-size: 0.81rem; }
  .inline { font-size: 1.53rem; }
  .googMap { width: 540px; height: 540px; }
  html body .d-block--tam { height: 25rem; }
  .carousel-caption { font-size: 1.53rem; }
  .gridEquipo .equipo { width: 12rem; font-size: 0.9rem; }
  .modPpal__tit2 { margin-bottom: 0.09rem; }
  .gridProyectos { display: grid; grid-template-columns: repeat(1, 1fr); justify-content: center; align-items: stretch; align-content: space-between; margin-left: 2rem; margin-right: 2rem; }
  .parrafosNS { font-size: 1rem; }
  .parrafosNS p { font-size: 1rem; }
  .parrCM { font-size: 1rem; }
  .parraf__Contacto { font-size: 1rem; }
  input { font-size: 1rem; }
  .botonEnviarContacto { font-size: 1rem; }
  .telefono { font-size: 0.9rem; }
  .email { font-size: 0.9rem; }
  .datosContacto { position: absolute; bottom: -40px; right: -20px; width: 250px; padding: 16px 4px 16px 0; border-radius: 6px; font-size: 13px; } }
@media (max-width: 810px) { .gridEquipo { grid-template-columns: repeat(2, 2fr); }
  .gridEquipo .equipo { width: 16rem; font-size: 0.9rem; } }
@media (max-width: 760px) { .modPpal__nav { display: none; }
  .btn__menu { display: initial; }
  .modPpal__nav--hamb { display: initial; }
  .btn { font-size: 0.85rem !important; }
  .modPpal__tit1 { font-size: 2.25rem; }
  .modPpal__tit2 { font-size: 1.25rem; }
  .modPpal__tit3 { font-size: 1.1rem; }
  .modPpal__tit4 { font-size: 0.975rem; }
  .modPpal__tit5 { font-size: 0.825rem; }
  .modPpal__tit6 { font-size: 0.75rem; }
  .header__pags { display: flex; flex-direction: column; flex-wrap: wrap; order: 1; justify-content: flex-end; align-items: left; }
  .modPpal__nav { font-size: 0.8rem; }
  .btn { font-size: 0.5625rem; }
  .inline { font-size: 1.275rem; }
  .googMap { width: 450px; height: 450px; }
  html body .d-block--tam { height: 20rem; }
  .carousel-caption { font-size: 1.275rem; }
  .modPpal__tit2 { margin-bottom: 0.075rem; }
  .gridProyectos { display: grid; grid-template-columns: repeat(1, 1fr); justify-content: center; align-items: stretch; align-content: space-between; margin-left: 2rem; margin-right: 2rem; }
  .parrafosNS { font-size: 1.05rem; }
  .parrafosNS p { font-size: 1.05rem; }
  .parrCM { font-size: 1.05rem; padding: 0px 6rem 0px 6rem; }
  .parraf__Contacto { font-size: 1.05rem; }
  input { font-size: 1.05rem; }
  .botonEnviarContacto { font-size: 1.05rem; padding: 22.5px 17px 22.5px 17px; margin: 0px 0px 0px 0px; }
  .telefono { font-size: 0.9rem; }
  .email { font-size: 0.8rem; }
  .datosContacto { width: 200px; position: relative; bottom: 0px; right: +10px; }
  .flexEquipo { display: flex; flex-direction: column; justify-content: center; padding-left: 1.4rem; padding-right: 1.4rem; }
  .equipo { width: 16rem; } }
@media (max-width: 550px) { .btn { font-size: 0.8rem !important; }
  .modPpal__tit1 { font-size: 1.8rem; }
  .modPpal__tit2 { font-size: 1.2rem; }
  .modPpal__tit3 { font-size: 0.96rem; }
  .modPpal__tit4 { font-size: 0.78rem; }
  .modPpal__tit5 { font-size: 0.66rem; }
  .modPpal__tit6 { font-size: 0.6rem; }
  .modPpal__nav { font-size: 0.8rem; }
  .btn { font-size: 0.36rem; }
  .inline { font-size: 1.02rem; }
  .googMap { width: 360px; height: 360px; }
  html body .d-block--tam { height: 25rem; }
  .carousel-caption { font-size: 1.02rem; }
  .gridEquipo { grid-template-columns: repeat(1, 4fr); }
  .gridEquipo .equipo { width: 12rem; font-size: 1rem; }
  .flexEquipo { display: flex; flex-direction: column; justify-content: center; padding-left: 1rem; padding-right: 1rem; }
  .modPpal__tit2 { margin-bottom: 0.4rem; }
  .gridProyectos { display: grid; grid-template-columns: repeat(1, 1fr); justify-content: center; align-items: stretch; align-content: space-between; margin-left: 2rem; margin-right: 2rem; }
  .parrafosNS { font-size: 0.84rem; }
  .columnasNS { column-count: 1; }
  .parrafosNS p { font-size: 0.84rem; }
  .parrCM { margin-right: 0rem; margin-left: 0rem; font-size: 0.84rem; padding: 0px 3.4rem 0px 3.4rem; }
  .parraf__Contacto { font-size: 0.84rem; }
  input { font-size: 0.84rem; }
  .botonEnviarContacto { padding-right: 17px; padding-top: 23px; padding-bottom: 23px; padding-left: 17px; margin-top: 0px; font-size: 0.9rem; }
  .telefono { font-size: 0.84rem; }
  .email { font-size: 0.7rem; }
  .datosContacto { width: 170px; position: relative; bottom: 0px; right: 0px; } }
@media (max-width: 380px) { .modPpal__tit1 { font-size: 1.5rem; }
  .modPpal__tit2 { font-size: 1.2rem; }
  .modPpal__tit3 { font-size: 1rem; }
  .modPpal__tit4 { font-size: 0.8rem; }
  .modPpal__tit5 { font-size: 0.7rem; }
  .modPpal__tit6 { font-size: 0.7rem; }
  .modPpal__nav { font-size: 0.7rem; }
  .btn { font-size: 0.5rem; }
  .inline { font-size: 0.85rem; }
  .googMap { width: 300px; height: 300px; }
  html body .d-block--tam { height: 20rem; }
  .carousel-caption { font-size: 0.85rem; }
  .equipo { width: 8rem; font-size: 0.75rem; }
  .flexEquipo { display: flex; flex-direction: column; flex: content; justify-content: center; padding-left: 1rem; padding-right: 1rem; }
  .flexEquipo .equipo { width: 15rem; }
  .flexArtEquipo { padding-left: 1rem; }
  .modPpal__tit2 { margin-bottom: 0.05rem; }
  .gridProyectos { display: grid; grid-template-columns: repeat(1, 1fr); justify-content: center; align-items: stretch; align-content: space-between; margin-left: 2rem; margin-right: 2rem; }
  .parrafosNS { font-size: 0.7rem; }
  .parrafosNS p { font-size: 0.7rem; }
  .columnasNS { column-count: 1; }
  .parrCM { margin-right: 0rem; margin-left: 0rem; font-size: 0.7rem; padding: 0px 3rem 0px 3rem; }
  .modPpal__tit4--Contacto { font-size: 1.2rem; }
  .form__Contacto { width: 340px; height: 480px; margin: calc(50vh - 320px) auto; }
  .parraf__Contacto { font-size: 0.9rem; }
  input { font-size: 0.9rem; }
  .botonEnviarContacto { padding-right: 13px; padding-top: 15px; padding-bottom: 23px; padding-left: 15px; margin-top: 0px; font-size: 0.9rem; }
  .telefono { font-size: 1rem; }
  .email { font-size: 0.7rem; }
  .datosContacto { width: 170px; position: relative; bottom: 0px; right: 0px; } }

/*# sourceMappingURL=styles.css.map */
